/* accordion.css -- stylesheet for Atto Accordion, an accordion microwidget */

.aw-accordion {
    border-color: #aaa;
    border-style: solid;
    border-width: 1px 1px 0;

       -moz-border-radius: 2px 2px 2px 2px;
    -webkit-border-radius: 2px 2px 2px 2px;
            border-radius: 2px 2px 2px 2px;

  -webkit-box-shadow: 1px 1px 2px 0px #aaa; 
     -moz-box-shadow: 1px 1px 2px 0px #aaa; 
          box-shadow: 1px 1px 2px 0px #aaa; 
}

.aw-acc-title, .aw-acc-pane {
    border-bottom: 1px solid #AAA;

  -webkit-transition: all 0.3s ease-out;
     -moz-transition: all 0.3s ease-out;
      -ms-transition: all 0.3s ease-out;
       -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
}

.aw-acc-title {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    padding: 5px 10px 3px;
    cursor: pointer;
    color: black;

    background: #F7F7F7;
}
.aw-acc-title.active {
    background: #E0E0E0;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4), inset 0 1px 0 #FFF;
}
.aw-acc-title:hover {
    background: #D1D1D1;
    background: -o-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
    background: -ms-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
    background: -moz-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
    background: -webkit-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
    background: linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
}

.aw-acc-title:before {
    content: "\25ba";
    float: left;
    margin-right: 5px;
}

.aw-acc-title.active:before {
    content: "\25bc";
}

.aw-acc-pane {
    background-color: #FFF;
    padding: 0 1em;
    height: 0;
    overflow: hidden;
}
.aw-acc-pane.active {
    height: auto;
    padding: 1em;
}


/* custom styles for left-to-right (i.e. horizontal) mode */

.ltr .aw-acc-title {
    padding: 1em 0 0;
    float: left;

  -webkit-transform: rotate(-90deg);
     -moz-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
       -o-transform: rotate(-90deg);
          transform: rotate(-90deg);
             filter: progid:DXImageTransform.Microsoft.Matrix(
                     M11=6.123031769111886e-17, M12=1, M21=-1, M22=6.123031769111886e-17, sizingMethod='auto expand');
               zoom: 1;
}

.ltr .aw-acc-pane {
    float: left;
    height: 0;
    width: 0;
    padding: 1em 0;
}
.ltr .aw-acc-pane.active {
    height: auto;
    width: auto;
    padding: 1em;
}
