.aw-dialog {
  position: absolute;
  display: none;
  z-index: 1000;

  border: 1px solid #CCC;

  -webkit-border-radius: 8px;
          border-radius: 8px;

  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
  
  -webkit-box-shadow: 0px 3px 5px 0px rgba(24,24,28,0.75);
          box-shadow: 0px 3px 5px 0px rgba(24,24,28,0.75);
}

.aw-underlay {
  position: absolute;
  top:0; bottom: 0; left: 0; right: 0;

  background: #333;
  z-index: 999;
  opacity: 0.75;
  display: none;
}

.aw-dialog.shown,
.aw-underlay.shown {
    display: block;
}

.aw-dialog > .title,
.aw-dialog > .body,
.aw-dialog > .footer {
  position: absolute;
  left: 0; right: 0;
  overflow: auto;
  padding: 0 8px;
}

.aw-dialog > .title {
  top: 0; height: 32px;
  cursor: move;

  font-size: 18px;
  font-weight: bold;
  line-height: 32px;

  background-color: silver;
  color: black;
  border-width: 0 0 1px 0;
  border-style: groove;
  border-radius: 8px 8px 0 0;

  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.aw-dialog > .body { top: 32px; bottom: 32px; }
.aw-dialog > .footer { bottom: 0; height: 32px; border-top: 2px inset #ccc; text-align: right; }

.aw-dialog .aw-close-button {
  color: #999;
  position: absolute;
  top: 2px; right: 4px;
}

.aw-dialog .aw-close-button:hover {
  color: inherit;
}
