/* tree.css -- stylesheet for Atto Tree, a treeview microwidget */

.aw-tree {
    padding: 0;
}

.aw-treeNode {
    cursor: pointer;
    list-style-type: none;
}

.aw-treeNode > .label:hover {
    background-color: rgba(64,64,64,0.2);
    color: white;
}

.aw-treeNode > .aw-treeNodeList {
    overflow: hidden;
    height: 0;

  -webkit-transition: all 0.3s ease-out;
     -moz-transition: all 0.3s ease-out;
      -ms-transition: all 0.3s ease-out;
       -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
}
.aw-treeNode.open > .aw-treeNodeList { height: auto; }

a.aw-expando {
    color: black;
    padding: 0 6px 0 0; margin: 0;
    display: inline-block;
    width: 1em;
    text-decoration : none;
}

.aw-treeNode .aw-expando:before{
    content: "\25BA";
}
.aw-treeNode.open > .aw-expando:before{
    content: "\25BC";
}
.aw-treeNode.empty > .aw-expando:before{
    content: "-";
}
