@import url("/fonts/gooddog/stylesheet.css");

html,body {
    margin: 0; padding: 0 100px;
}
html {
    background-image: url('../dots.png');
    background-color: #FFFFF7;
}

h1 {
    font: small-caps 48px/24px 'GoodDogRegular', cursive;
}
h2 {
    font: normal 14px/16px helvetica,arial,verdana,tahoma,"sans serif";
}
abbr {
    border-bottom: 1px dotted #aab;
    cursor: help;
}
.to-convert {
    border: 1px solid #aaa;
}

.controls * {
  -webkit-transition: all 0.4s ease-in-out;
     -moz-transition: all 0.4s ease-in-out;
      -ms-transition: all 0.4s ease-in-out;
       -o-transition: all 0.4s ease-in-out;
          transition: all 0.4s ease-in-out;
}

.controls .hidden { opacity: 0; visibility: hidden; }

#status {
    font-style: italic;
    border: 1px dashed #ccc;
    background-color: #333;
    color: #eee;
    padding: 20px;
}

.example {
    padding: 10px 0;
    margin: 0;
}

.example p {
    display: table;
    background-color: #333;
    color: #EE4;
    padding: 10px;

    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;

    -webkit-box-shadow: inset 0 0 10px 2px #222;
            box-shadow: inset 0 0 10px 2px #222;
}

.example p > * { display: table-cell; padding: 0 1em; vertical-align: middle; }

hr { width: 90%; margin: 20px auto; }



/* slides page */
.to-convert {
    overflow: hidden;
}
.imageWrapper {
    display: block;
    padding: 0; margin: 0;
    background-color: #e7e7e7;
}
.imageWrapper img {
    display: block;
    margin: auto;
}


.controls .hidden { opacity: 0; visibility: hidden; }
#status {
    font-style: italic;
    border: 1px dashed #ccc;
    background-color: #333;
    color: #eee;
    padding: 20px;
}

footer {
    font: small-caps 1.25em 'GoodDogRegular', cursive;
    font-size-adjust: 0.43;
    text-align: right;
    color: #600;
    font-weight: bold;
    padding: 0 10px 5px;
    margin: 0;

    left: 0; right: 0; bottom: 0;
    height: 48px;
}
.lt-ie9 footer { font-family: 'Comic Sans MS', 'Comic Sans', cursive; font-size: 12px; }
